/* CSS HEX */
/*  Color Scheme muted blues with pop of orange
--atomic-tangerine: #f38d5bff;
--tea-green: #d1e2a5ff;
--ghost-white: #fbfbffff;
--cool-gray: #7d8ca3ff;
--prussian-blue: #0e273cff; 
*/

/* Bright primary colors color scheme
--duke-blue: #390099ff;
--murrey: #9e0059ff;
--folly: #ff0054ff;
--orange-pantone: #ff5400ff;
--amber: #ffbd00ff;
*/